allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };

allow priv_app sysfs_graphics:file { read };
allow priv_app sysfs_android_usb:file { getattr open };

allow priv_app adb_data_file:dir r_dir_perms;
allow priv_app adb_data_file:file r_file_perms;

allow priv_app device:dir { getattr open };
allow priv_app proc_interrupts:file { getattr open };
allow priv_app storage_stub_file:dir { r_dir_perms };
